@import "constants/variables.scss";

.board {
  display: grid;
  grid-template-areas:
    "cell cell cell"
    "cell cell cell"
    "cell cell cell";
  grid-template-rows: 180px 180px 180px;
  grid-template-columns: 180px 180px 180px;
  grid-gap: 10px;

  @media all and (max-width: $breakpoint-mobile) {
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 5px;
  }
}
