.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: black;

  &__title {
    font-size: 25px;
    color: ivory;

    &--red {
      font-weight: bold;
      animation: change-background 2000ms linear infinite;
    }
  }
}

@keyframes change-background {
  0% {
    color: red;
  }
  50% {
    color: darkred;
  }
  100% {
    color: red;
  }
}
