.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: black;
}

.header__title {
  font-size: 25px;
  color: ivory;
}

.header__title--red {
  font-weight: bold;
  animation: change-background 2000ms linear infinite;
}

@keyframes change-background {
  0% {
    color: red;
  }
  50% {
    color: darkred;
  }
  100% {
    color: red;
  }
}
